{% extends "index.html" %}

{% block content %}
<div class="card">
    <h2 class="card-title">Login</h2>
    <p>Please sign in to access all features of Study Helper.</p>

    <div id="login-container">
        <div id="g_id_onload"
            data-client_id="{{ google_client_id }}"
            data-context="signin"
            data-ux_mode="popup"
            data-callback="handleGoogleSignIn"
            data-auto_prompt="false">
        </div>
        <div class="g_id_signin"
            data-type="standard"
            data-shape="rectangular"
            data-theme="outline"
            data-text="signin_with"
            data-size="large"
            data-logo_alignment="left"
            data-width="300">
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}
